<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect trailing slashes to non-trailing slashes (e.g. /signin/ -> /signin)
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} (.+)/$
  RewriteRule ^ %1 [R=301,L]

  # Try to serve the request as a .html file if it exists
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]
</IfModule>
